.hero {
    padding: .25% .5%;
    background-color: black;
    color: white;
    text-align: center;
}

.btn {
    background-color: skyblue;
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    border-radius: 12px;
}




